@page "/sell/{Id?}"

@using Warehouse.Data;
@inject StockRepository stockRepository;
@inject SaleRepository saleRepository;
@inject NavigationManager navigationManager;


<h3>Sell an item</h3>

<div class="form-floating mb-2">
    <input id="name" class="form-control" @bind="@saleData.Name" disabled />
    <label for="name">Title:</label>
</div>
<div class="form-floating mb-2">
    <input id="type" class="form-control" @bind="@saleData.Type" disabled="true" />
    <label for="name">Type (color, size etc):</label>
</div>
<div class="form-floating mb-2">
    <input id="price" class="form-control" type="number" @bind="@saleData.Price" disabled="true"/>
    <label for="name">Price:</label>
</div>
<div class="form-floating mb-2">
    <input id="count" class="form-control" type="number" @bind="@saleData.Count" />
    <label for="name">Count:</label>
</div>
<div class="form-floating mb-2">
    <input id="sell-price" class="form-control" type="number" @bind="@saleData.ChequePrice" />
    <label for="name">Sell price:</label>
</div>

<div class="d-flex justify-content-between gap-2">
    <button class="btn btn-primary w-50 p-3" @onclick="Save">Save</button>
    <a class="btn btn-outline-secondary w-50 p-3" href="stock">Cancel</a>
</div>