@page "/stock"

@using Warehouse.Data;
@inject StockRepository stockRepository;

<h3>Stock</h3>

@if (data == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<ul class="list-unstyled">
		@foreach (var item in data)
		{
			<li>
				<label><b>@item.Name</b></label><br />
				<label>@item.Price</label><br/>
				<label>@item.SellPrice</label><br/>
				<label>@item.Count</label><br />
				<a href="buy/@item.Id">Buy</a>
				<a href="sell/@item.Id">Sell</a>
				<button @onclick="@(()=> Delete(@item.Id))">Delete</button>
			</li>
		}
	</ul>

	<a href="buy">New Item</a>
}
