@page "/stocknew/{Id?}"

@using Warehouse.Data;
@inject StockRepository stockRepository;
@inject NavigationManager navigationManager

<h3>Buy an item</h3>

<div class="form-floating mb-2">
    <input id="name" class="form-control" @bind="@item.Name" disabled="@Prefilled" />
    <label for="name">Title:</label>
</div>
<div class="form-floating mb-2">
    <input id="name" class="form-control" @bind="@item.Type" disabled="@Prefilled" />
    <label for="name">Type (color, size etc):</label>
</div>
<div class="form-floating mb-2">
    <input id="name" class="form-control" type="number" @bind="@item.Price" />
    <label for="name">Price:</label>
</div>
<div class="form-floating mb-2">
    <input id="name" class="form-control" type="number" @bind="@item.Count" />
    <label for="name">Count:</label>
</div>
<div class="form-floating mb-2">
    <input id="name" class="form-control" type="number" @bind="@item.SellPrice" />
    <label for="name">Sell price:</label>
</div>
<div class="form-floating mb-2">
    <input id="name" class="form-control" type="date" @bind="@item.BoughtDate" />
    <label for="name">Bought date:</label>
</div>

<div class="d-flex justify-content-between gap-2">
    <button class="btn btn-primary w-50 p-3" @onclick="Save">Save</button>
    <a class="btn btn-outline-secondary w-50 p-3" href="stock">Cancel</a>
</div>
